/*
 Farbpallette 35 Nachtleben
 
00cffa Cyan
ff0038 Magenta
ffce38 Yellow
020509 Black

*/

.wy-side-nav-search {
  background-color:#00cffa;
}

.wy-nav-side {
  background:#020509;
}

h1 {
  color: #ff0038;
}
