/*
 Farbpallette 01 Hell und Frisch
 
f98866 // rosa
ff420e // rot
80bd9e //olivgrün
89DA59 // hellgrün
*/

.wy-side-nav-search {
  background-color:#ff420e;
}

.wy-nav-side {
  background:#89DA59;
}

h1 {
  color: #80bd9e;
}
